* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --primary-color: rgb(214, 28, 28);
  --secondary-color: rgb(0, 0, 0);
  --background-color: rgb(0, 0, 0);
  --primary-text-color: white;
  --secondary-text-color: gray;
  --switcher-color: rgb(76, 76, 76);
  --outline-color: #474343;
}

body {
  font-family: Arial, sans-serif;
  color: #fff;
  background: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(20, 20, 20, 0.4)),
    url("img/background.jpg");
}

/* Hlavička*/
header {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 30px;
  width: 100vw;
  padding: 30px 50px 30px 40px;
}

.logo img {
  width: 100px;
  background-image: url("img/netflix-logo.png");
}

.register-btn {
  padding: 7px 12px;
  background: var(--primary-color);
  color: var(--primary-text-color);
  text-decoration: none;
  border-radius: 3px;
  font-size: 1rem;
}

/* PRVNÍ SEKCE */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 720px;
  margin-top: 200px;
  margin-bottom: 300px;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 16px;
}

h2 {
  font-size: 1rem;
  margin-bottom: 14px;
  color: #fff;
}

p {
  max-width: 30em;
}

form {
  display: flex;
  justify-content: center;
  gap: 10 px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 420px;
  margin-top: 18px;
}

.firstPageEmail {
  flex: 1;
  padding: 9px 10px;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  margin-right: 10px;
  min-width: 300px;
  background-color: rgb(0, 0, 0, 0.4);
  outline: solid 1px var(--outline-color);
  color: white;
}

button {
  padding: 9px 20px;
  background: var(--primary-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

/* DRUHÁ SEKCE – výběr 3 filmů*/

.film {
  display: flex;
  flex-direction: column;
  background: var(--secondary-color);
  width: 100vw;
  align-items: center;
  gap: 30px;
  padding: 100px 0 100px 0;
}

.film-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  background: var(--secondary-color);
  width: 100vw;
  padding: 50px 0 50px 0;
}

.film-img {
  width: 300px;
  height: auto;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.film-img:hover {
  transform: scale(1.12);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.7);
}

/* FOOTER */
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background: var(--secondary-color);
  color: var(--secondary-text-color);
  padding: 100px 50px 100px 40px;
}

.links-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 150px;
  margin: 20px;
}

.links-group li {
  margin-bottom: 5px;
}

.links-group li a {
  color: var(--secondary-text-color);
  text-decoration: underline;
  font-size: 1em;
  line-height: 1.2em;
}

.links-group li a:hover {
  color: var(--primary-text-color);
}


/* Scrollovací šipka */
.fa-circle-up {
  position: fixed;
  scale: 3;
  right: 25px;
  bottom: 40px;
  z-index: 999;
  padding: 12px 18px;
  color: var(--primary-color);
  font-size: 1rem;
  cursor: pointer;
}

/* NAČÍTÁNÍ FILMŮ Z DATABÁZE */
/* Galerie výsledků z API */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  justify-content: center;
  align-items: flex-end;
  padding: 32px 0;
}

/* Výchozí nastavení obrázku*/
.gallery img {
  width: 100px;
  transform: rotate(5deg);
}

/* Otočení obrázku zpět po přejetí*/
.gallery img:hover {
  transform: scale(1.07) rotate(0deg);
  transition: transform 0.5s;
}

/* Nastavení hlavičky */
body.page-films header {
  top: 0px;
  position: fixed;
  z-index: 1;
}

/* Wrapper pro selectu */
.select-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

/* Základní vzhled selectu */
#select-film {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-color: var(--secondary-color);
  color: var(--primary-text-color);
  padding: 10px 40px 10px 12px; /* místo pro šipku vpravo */
  border-radius: 4px;
  border: 1px solid #444;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

/* Vlastní šipka */
#select-film {
  background-image: linear-gradient(45deg, transparent 50%, #fff 50%),
    linear-gradient(135deg, #fff 50%, transparent 50%);
  background-position: right 14px center, right 8px center;
  background-size: 6px 6px, 6px 6px;
  background-repeat: no-repeat;
}

/* Hover / focus efekty */
#select-film:hover {
  border-color: var(--primary-color);
}

#select-film:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(229, 9, 20, 0.5);
}

/* Zrušení background img */
body.page-registration,
body.page-films {
  background: var(--background-color);
  background-image: none;
}

/* REGISTRATION PAGE*/

.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

#registerForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 80px;
}

input {
  padding: 12px;
  border: 1px solid var(--outline-color);
  border-radius: 4px;
  font-size: 16px;
  background: #222;
  color: var(--primary-text-color);
}

/* Šířka tlačítka formuláře */
#registerForm button {
  width: 100%;
}

/* Rámečky pro hesla */
input.pass-error {
  border: 2px solid #e62020;
}

input.pass-success {
  border: 2px solid #20e637;
}
